<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <h1>
            <%= header1 %>
        </h1>
        <form action="<%= action %>" method="POST">
            <div>
                <p>
                    <label for="name">Word: </label>
                    <input type="text" id="name" , name="name" size="5" value="<%= name.value %>" <%= name.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="translation">Translation: </label>
                    <input type="text" id="translation" , name="translation" size="15" value="<%= translation.value %>"
                        <%= translation.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="keywords">Keywords: </label>
                    <input type="text" id="keywords" , name="keywords" size="15" value="<%= keywords.value %>"
                        <%= keywords.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="example">Example: </label>
                    <input type="text" id="example" , name="example" size="15" value="<%= example.value %>"
                        <%= example.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="level">Level: </label>
                    <input type="text" id="level" , name="level" size="15" value="<%= level.value %>"
                        <%= level.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="links">Links: </label>
                    <input type="text" id="links" , name="links" size="15" value="<%= links.value %>"
                        <%= links.readonly %> />
                </p>
            </div>
            <button type="submit">Submit</button>
            <a href="/"> <button>Menu</button></a>
        </form>

     
    </main>
</body>

</html>